body {
  line-height: 90px; /* adjusts the default space between lines */
}

div {
  margin: auto; /* this centers the text box, not the text in the box */
  width: 980px; /* defines the width of the text */
  font-size: 25px; /* size of your letters */
  word-spacing: 5px; /* space between words, this helps legibility */
  text-align: left; /* defines the alignment of text. replace left by center, justify or right */
}

span {
  font-family: '', monospace; /* specifies which font to use. to use you own, write the postscript name of your font between the  quotation marks. you can find the postscript of your font in the font book app when you use the presentation > font infos option, it's the first line displayed, it's different for each cut like italics of bolditalics or whatever */
}
